body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://media1.tenor.com/images/acc2546b2cdec1da098ff19d55645898/tenor.gif?itemid=11470260);

}

#menu1{
    color: aqua;
}

.tieude{
    color: white;
}

